*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.brand-title {
    font-size: 2rem;
    margin: 0.5rem;
    font-weight: 300;
    padding-left: 1.8rem;
    
}

.brand-title a{
    text-decoration: none;
    color:#ffffff;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.navbar-links{
    display: flex;
}

.navbar-links i{
    color: #1a0707
}

.brand-title {
    font-size: 2rem;
    margin: 0.5rem;
    font-weight: 300;
    padding-left: 1.8rem;
}
.navbar-links ul{
    margin: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color:#ffffff;
    padding: 1rem;
    display: block;
    font-family: "Work Sans", sans-serif;
}

.navbar-links li input{
    display: block;
    padding: 0.5rem;
    border-radius: 0.4rem;
    margin-top: 8px;
}
.navbar-links li:hover {
    background-color: #460b0b;
}

.carousel-item {
    height: 32rem;
    background: #777;
    color: white;
    position: relative;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.cantCarrito{
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.2rem;
    height: 50%;
}


.cart {
    position: relative;
    align-self: center;
    padding: 0.3rem;
    height: 100%;
}


/* -------------------Footer------------------ */

.icon{
    width: 1.5625em;
    height: 1.5625em;
}
.iconos_redes ul li{
    border-style:solid;
    border-radius: 100%;
    border: none;
    padding: 0.3125em;
}
.iconos_redes ul{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%; 
}

.iconos_redes ul li a{
    text-decoration: none;
}
footer{
    background-color:#000000;
    padding: 0.625em;
    bottom: 0;
    width: 100%;
    left: 0;
}  

.icon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(103%) contrast(104%);
}

.icon:hover{
    filter: invert(20%) sepia(6%) saturate(2759%) hue-rotate(191deg) brightness(93%) contrast(84%);
    
}
.img-resp{
    max-width: 100%;
}
.Copyright{
    text-align: center;
    color: #ffffff;
}

ul {
    list-style-type: none;
}